concurrent_log_handler==0.9.29
dashscope==1.25.22
fastapi==0.139.0
langchain_community==0.4.2
langchain_core==1.4.8
langchain_openai==1.3.3
langchain_text_splitters==1.1.2
langgraph==1.2.7
openai==2.44.0
pydantic==2.13.4
python-dotenv==1.2.2
PyYAML==6.0.3
tavily_python==0.7.26
uvicorn==0.50.0
